::selection {
  background: deepskyblue;
  color: #030303;
}

:any-link {
  color: #ee1;
  transition: 210ms ease-in-out;
}

:focus,
:hover {
  text-decoration-color: #ee1;
}

html {
  background-color: indigo;
  background-image: linear-gradient(.3turn, #e1e 0%, #e1e 10%, #528 10%, #528 90%, #ee1 90%);
  color: gainsboro;
  transition: 210ms ease-in-out;
}